<!DOCTYPE html>
<html>
  <head>
    <title>My notes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit-icons.min.js"></script>
  </head>

  <body class="uk-height-1-1">
    <div class="uk-container uk-container-expand uk-flex uk-flex-center uk-flex-middle">
      <div class="uk-width-1-1">
        <%= link_to "Logout", logout_path, class: "logout" %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
